.form input {
    padding: 10px;
    margin: 5px;
    border: 2px solid #d39c02;
    border-radius: 5px;
}

.form button {
    margin: 17px;
    padding: 10px;
    color: black;
    border: 2px solid #d39c02;
    border-radius: 7px;
    cursor: pointer;
    width: 130px;
    font-size: 13px;
    font-weight: 700;
    background: linear-gradient(90deg, #ffda75,#ffcb3d,#ffbb00);
}